---
import cn from 'classnames'
const { className = [], hasBg = true, btnOnHover = false } = Astro.props
---

<div
  class={cn(
      'p-5 rounded-xl',
      hasBg && 'bg-white',
      btnOnHover ? 'hover:bg-white/95 text-rblue/95' : '',
      ...className
    )}
>
  <slot />
</div>
