---
import { SEO } from 'astro-seo'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
        <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <SEO
      title="Bruno Ferreira - Software Developer | Python, LangChain, LangGraph, LLM, PHP, JavaScript, TypeScript, React, Vue"
      charset="UTF-8"
      description="I am Software Developer specializing in AI-driven applications, full-stack development, and cloud infrastructure. With 5+ years of experience, I builds scalable, high-performance solutions."
      canonical="https://srbrunoferreira.github.io"
      openGraph={{
        basic: {
          title:
            'Bruno Ferreira - Software Developer | Python, LangChain, LangGraph, LLM, PHP, JavaScript, TypeScript, React, Vue',
          type: 'profile',
          image:
            'https://srbrunoferreira.github.io/bruno-ferreira-software-developer.webp',
          url: 'https://linkedin.com/in/brunoferreiradc'
        },
        optional: {
          description:
            'I am Software Developer specializing in AI-driven applications, full-stack development, and cloud infrastructure. With 5+ years of experience, I builds scalable, high-performance solutions.',
          siteName: "Bruno Ferreira - Software Developer",
          locale: 'en_US'
        },
        article: {
          authors: ['Bruno Ferreira'],
          section: 'Technology',
          tags: [
            'Software Engineer',
            'AI',
            'Full Stack Developer',
            'DevOps',
            'Cloud Computing',
            'PHP',
            'LangChain',
            'LangGraph',
            'LLM',
            'Python',
            'AWS'
          ]
        }
      }}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="w-screen bg-rblue antialiased">
    <slot />
  </body>
</html>
